@charset "utf-8";
/* CSS Document */

.main-container {
	max-width: 1200px;
	margin: auto;
}

.header{
	width: 100%;
	height:auto;
	padding: 10px 0 10px 0;
	background-color: #002D62;
	border-top:#C5960C 5px solid;
    border-radius: 5px 5px 5px 5px;
	text-align:center;
	font-size:18px;
	color:#FFF;
}

.header a {
	text-decoration:none;
	font-size:14px;
	display:inline-block;
	color:#FFF;
	padding:0px 15px 0px 15px;
}

.header a:hover {
	text-decoration:underline;
	font-size:16px;
	transition: all 0.25s ease;
	font-weight:bold;
}

#container{
	width: 100%;
	margin: 0px;
	padding:1px;
}

#footer{
	width: 100%;
	height:auto;
	float:left;
	padding: 10px 0 10px 0;
	margin-top:20px;
	background-color: #002D62;
	border-bottom:#C5960C 5px solid;
    border-radius: 5px 5px 5px 5px;
}

.title h1 {
	margin:20px 0px 5px 20px;
	float:left;
}

.title a {
	float:right;
	margin:32px 20px 0px 0px;
	color:#999;
	font-size:10px;
	text-decoration:none;
}

.title a:hover {
	transition: all 0.25s ease;
	color:#666;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
}

.title i {
	vertical-align:middle;
	margin-left:7px;
}

.top_grey {
	background-color: #f6f6f6;
    border-radius: 10px 10px 0 0;
	width:100%;
	display: inline-block; 
	height: auto;
	border: #CCC 1px solid;
	border-bottom: none;
}

.bottom_grey {
	width:100%;
	background-color: #f6f6f6;
	border:#CCC 1px solid;
	border-top:none;
    border-radius: 0px 0px 10px 10px;
	margin-bottom:30px;
}

.bottom_grey hr {
	color:#bbbbbb;
	margin:0 20px 0 20px;
	padding:0;
}

.bottom_grey p {
	margin:0px 20px 0px 20px;
	padding:10px 0px 10px 0px;
	
}

.bottom_grey i {
	vertical-align:middle;
	padding-right:15px;
	color: #002D62;
}

.video {
	padding:0px 0px 10px 20px;
}

.video iframe {
	width: 500px !important;
	height: 281px !important;
	border:#bbbbbb 3px solid;
	border-radius: 5px;
	float:left;
	margin:0px 20px 10px 0px;
}

.video h4 {
	margin:10px 0px 5px 0px;
}

.video p {
	padding: 0px 20px 0px 0px;
	min-width:fill-available;
}

.video_description {
	float:left;
	padding: 38px 0px 0px 20px;
	display:inline-block;
	width:auto;
	height:auto;
}

.tbox {
	width:100%;
	float:left;
	margin:0px 0px 20px 0px;
}

.tbox p {
	margin:0px 20px 0px 20px;
}

.tbox ul {
	margin:10px 20px 0px 60px;
}

.tbox ol {
	margin:10px 20px 0px 60px;
}

.dlbox {
	width: auto;
	text-align: center;
	margin:0px 20px 0px 20px;
}

.dlbox img {
	vertical-align:middle;
	margin:10px 20px 0px 0px;
	width: 64px;
	height: auto;
}

.dlbox a {
	text-decoration:none;
	color:#00507A;
	font-size:14px;
}

.dlbox a:hover {
	font-weight:bold;
	font-size:16px;
	transition: all 0.25s ease;
}
