@charset "UTF-8";
/* CSS Document */

.info-table{
	width:100%;
	background-color:#FAFAFA;
    border-spacing: 0;
    border-collapse: separate;
	margin-bottom:30px;
}

tr.header-row{
	background-color:#F5F5F5;
}

td.photo{ 
    padding: 10px;
	width:120px;
}

td.icon{
	height:2em;
	width:30px;
	/*padding:10px 0 0 0;*/
}

td img{
	width:100px;	
	height:auto;
}


h3{
	margin:0;
	padding:10px 10px 15px 10px;
	border-bottom:#FFFFFF 5px solid;
}
